/* You can add global styles to this file, and also import other style files */
.bg-purplepink {
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-grad1 {
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
